<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs%>

    <main class="container">
      <header class="jumbotron my-4">
        <h1 class="display-3">About Us</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et
          posuere nunc, in convallis ipsum. Fusce suscipit dolor vel libero
          ultricies semper in nec nisi. Donec accumsan, nunc sed tempus
          sagittis, sapien tellus bibendum odio, eget facilisis massa orci quis
          augue. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia Curae; Donec tristique purus at pharetra
          tristique. Aenean non auctor nulla, sed convallis neque. Quisque ut
          cursus est.
        </p>
      </header>
    </main>

    <% include ./partials/baseScripts.ejs %>
  </body>
</html>
